<!--
File   : set_state_dialog.html
Author : peach
Date   : 8 July 2019
-->
<form name="SetStateDialog" class="form-horizontal" ng-submit="submit(SetStateDialog)" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Set State</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            Choose some settings for {{peripheral.name}}.
        </div>
        <!-- For The ONOFF devices. -->
        <div class="form-group" ng-if="peripheral.type == constants.PERIPHERAL_TYPE_ONOFF">
            <label for="enabled" class="col-sm-3 control-label">On/Off:</label>
            <div class="col-sm-9"><select class="form-control" ng-model="state.enabled" ng-options="opt.value as opt.name for opt in onOffOptions" focus="true" /></div>
        </div>
        <!-- For The SLIDER devices. -->
        <div class="form-group" ng-if="peripheral.type == constants.PERIPHERAL_TYPE_SLIDER">
            <div class="row">
                <label for="level" class="col-xs-3 control-label">Level:</label>
                <div class="col-xs-6"><input type="range" class="custom-range" min="0" max="255" ng-model="state.level" /></div>
                <div class="col-xs-3">{{state.level}}</div>
            </div>
        </div>
        <!-- For The RGB devices. -->
        <div class="form-group" ng-if="peripheral.type == constants.PERIPHERAL_TYPE_RGB">
            <div class="row">
                <label for="red" class="col-xs-3 control-label">Red:</label>
                <div class="col-xs-6"><input type="range" class="custom-range" min="0" max="255" ng-model="state.r" /></div>
                <div class="col-xs-3">{{state.r}}</div>
            </div>
            <div class="row">
                <label for="green" class="col-xs-3 control-label">Green:</label>
                <div class="col-xs-6"><input type="range" class="custom-range" min="0" max="255" ng-model="state.g" /></div>
                <div class="col-xs-3">{{state.g}}</div>
            </div>
            <div class="row">
                <label for="blue" class="col-xs-3 control-label">Blue:</label>
                <div class="col-xs-6"><input type="range" class="custom-range" min="0" max="255" ng-model="state.b" /></div>
                <div class="col-xs-3">{{state.b}}</div>
            </div>
        </div>
        <div class="form-group" ng-if="peripheral.type == constants.PERIPHERAL_TYPE_RGB" ng-style="{'background-color':'rgb('+state.r+' '+state.g+' '+state.b+')'}">&nbsp;</div>
    </div>
    <div class="modal-footer">
        <p></p>
        <input type="submit" class="btn btn-primary btn-sm" value="OK" />
        <input type="button" class="btn btn-default btn-sm" ng-click="cancel()" value="Cancel" />
    </div>
</form>