<!--
File   : home.html
Author : peach
Date   : 8 July 2019
-->
<div class='container container-full-width'>
    <div ng-include="'html/views/common/header.html'"></div>
    <div class="container">
        <div class='row-sm-4' style="min-height: 1em;"></div>
        <!--
        Presets
        -->
        <div class='row'>
            <h1>Presets</h1>
            <div ng-controller="PresetListController">
                <div ng-if="presets.length">
                    <span ng-repeat="p in presets"><button class="form-group btn btn-lg btn-primary" ng-click="applyPreset(p)">{{p.name}}</button> </span>
                </div>
                <span ng-if="!presets.length">No Presets Found.</span>
            </div>
        </div>
        <!--
        Schedules
        -->
        <div class='row'>
            <h1>Schedules</h1>
            <div ng-controller="ScheduleListController">
                <table class="table table-condensed" ng-if="schedules.length">
                    <thead>
                        <tr>
                            <th ng-repeat="colName in columnNames">{{colName}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in schedules">
                            <td>{{s.name}}</td>
                            <td><input type="checkbox" ng-checked="s.is_enabled" ng-click="toggle(s)"/></td>
                        </tr>
                    </tbody>
                </table>
                <span ng-if="!schedules.length">No Schedules Found.</span>
            </div>
        </div>
        <!--
        Peripherals
        -->
        <div class='row'>
            <h1>Peripherals</h1>
            <div ng-controller="PeriperalListController">
                <table class="table table-condensed" ng-if="peripherals.length">
                    <thead>
                        <tr>
                            <th ng-repeat="colName in columnNames">{{colName}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in peripherals">
                            <td>{{p.name}}</td>
                            <td>{{p.type}}</td>
                            <td>{{getHumanReadableState(p)}}</td>
                            <td>
                                <!--<button class="form-group btn btn-small btn-danger" ng-click="disablePeripheral(p)" ng-hide="p.mode=='DISABLED'">Disable</button>-->
                                <button class="form-group btn btn-small btn-primary" ng-click="openStateDialog(p)">Set State</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span ng-if="!peripherals.length">No Peripherals Found.</span>
            </div>
        </div>
    </div>
    <div ng-include="'html/views/common/footer.html'"></div>
</div>